.wrapper{
    height: 100vh;
    display: grid;  
    grid-template: auto 1fr auto / auto 1fr auto;

}

.header{
    border: 1px solid black;
    grid-column:span;
    height: 150px;
    grid-column: 1/4;
}

.sidebar{
    min-width: 100px;
    height: 100%;
}
.sidebar--left{
    border: 1px solid black;
    grid-column: 1;
    
}
.sidebar--right{
    border: 1px solid black;
    min-width: 100px;
    grid-column: 3;
}
.content{
    border: 1px solid black;
    grid-column: auto;
    height: 100%;
}
.footer{
    border: 1px solid black;
    grid-column: 1/4;
    height: 150px;
}